### Código Modularizado

Abaixo está toda a pipeline de modelagem e geração de relatório, construída de forma orientada a objetos e modularizada.

> ✅ Este código é totalmente independente — nenhuma variável é declarada.

In [1]:
import sys
import os
sys.path.append(os.path.abspath('../'))

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
from src import Root
root = Root()

In [3]:
root.lib.jupyter_settings()

### Código modularizado de produção

In [4]:
# check dados brutos
root.read.origins.dataframe.head()

  data_originacao  id_contrato  id_varejo  identificador_cliente  valor_financiado  prazo  juros_operacao data_vencimento data_pagamento  num_parcela  valor_parcela  valor_pago tipo_cliente estado
0      2023-08-11       662045         70               12703337            326.85      5            0.06      2023-10-11     2023-09-22            2          77.78       74.92   Recorrente     AM
1      2024-02-01       977143        142               11157708            326.46      7            0.06      2024-04-01     2024-02-27            2          58.67       54.87   Recorrente     AM
2      2024-02-01       977143        142               11157708            326.46      7            0.06      2024-05-01     2024-04-29            3          58.67       58.44   Recorrente     AM
3      2024-02-01       977143        142               11157708            326.46      7            0.06      2024-09-01     2024-08-27            7          58.67       58.09   Recorrente     AM
4      2024-03-21      1069444         63               11350056            401.25      3            0.11      2024-06-21            NaN            3         163.03         NaN   Recorrente     AM

In [5]:
#check ABT para o modelo
root.make.features.dataframe.head()

#opcional, salvar o abt em data/prod
# root.make.features.dataframe.to_csv("../data/prod/abt_modelo.csv")

  data_originacao  id_contrato  id_varejo  valor_financiado  prazo  juros_operacao  num_parcela  valor_parcela        tipo_cliente estado  target  custo_fn  custo_fp  flg_alto_valor  cliente_novo  dia_semana_sin  dia_semana_cos  mes_sin  mes_cos  trimestre_sin  trimestre_cos qtd_contratos_anteriores_bin total_parcelas_historicas_bin qtd_atrasos_historicos_bin qtd_antecipacoes_historicas_bin taxa_atraso_historica_bin taxa_antecipacao_historica_bin max_atraso_dias_historico_bin media_valor_financiado_anterior_bin max_valor_financiado_anterior_bin media_prazo_anterior_bin max_prazo_anterior_bin dias_desde_ultimo_contrato_bin dias_como_cliente_bin qtd_parcelas_em_aberto_bin valor_total_em_aberto_bin  proporcao_parcela_financiado  custo_efetivo_total_proxy
0      2024-04-05      1099287        350            111.49      4            0.09            1          34.04          Recorrente     BA       0     24.66     24.66               0             1           -0.43           -0.90     0.87    -0.50           0.00          -1.00                         zero                          zero                       zero                            zero                      zero                           zero                          zero                                zero                              zero                     zero                   zero                        > 180 d                  zero                       zero                      zero                          0.31                       1.22
1      2024-04-11      1112229        662            392.57      5            0.05            1          90.90  30_days_conversion     PR       0     61.93     61.93               0             1            0.43           -0.90     0.87    -0.50           0.00          -1.00                         zero                          zero                       zero                            zero                      zero                           zero                          zero                                zero                              zero                     zero                   zero                        > 180 d                  zero                       zero                      zero                          0.23                       1.16
2      2024-02-19      1012440        140            248.15      3            0.06            1          92.99          Recorrente     AM       0     30.82     30.82               0             0            0.00            1.00     0.87     0.50           1.00           0.00                          1–2                             4                       zero                             4–6                      zero                       80–100 %                          zero                             120–180                           130–190                1–3 meses              1–3 meses                       51–100 d              44–100 d                       zero                      zero                          0.37                       1.12
3      2024-10-03      1542019        106            164.70      4            0.11            1          53.19          Recorrente     PA       0     48.06     48.06               0             1            0.43           -0.90    -0.87     0.50          -0.00           1.00                         zero                          zero                       zero                            zero                      zero                           zero                          zero                                zero                              zero                     zero                   zero                        > 180 d                  zero                       zero                      zero                          0.32                       1.29
4      2024-09-20      1503599        819            262.36      6            0.07            1          55.21            Same Day     BA       0     68.91     68.91               0             1           -0.43           -0.90    -1.00    -0.00          -1.00          -0.00                         zero                          zero                       zero                            zero                      zero                           zero                          zero                                zero                              zero                     zero                   zero                        > 180 d                  zero                       zero                      zero                          0.21                       1.26

In [6]:
# Retornar o dataframe de predições
root.make.model.dataframe.head() # -> dataframe de predições

#opcional, salvar o dataframe de predicoes em data/prod
#root.make.model.dataframe.to_csv("../data/prod/predicoes.csv")

    id_contrato data_originacao  valor_financiado  target  probabilidade_default
3       1542019      2024-10-03            164.70       0                   0.11
4       1503599      2024-09-20            262.36       0                   0.05
8       1472948      2024-09-08            364.00       0                   0.04
9       1535461      2024-10-01             97.13       0                   0.13
12      1503392      2024-09-20             72.21       0                   0.10

In [7]:
# Salvar o modelo em model/
root.make.model.save_model

Modelo salvos com sucesso em: ../model/xgboost_model.pkl

In [8]:
# Report Resultados
root.report.model.metrics

  Metrica  Valor
0     AUC   0.63
1      KS   0.18

In [9]:
root.report.model.analise_decil_risco

       N_Contratos  N_Defaults Bad_Rate_%  EAD_Medio     Perda_Real %_da_Perda_Total            ECL
decil
1             1948         445     22.84%  R$ 422.89  R$ 152,670.31           24.39%  R$ 336,223.88
2             1947         275     14.12%  R$ 279.45   R$ 59,173.39            9.45%   R$ 87,731.42
3             1945         224     11.52%  R$ 261.85   R$ 47,137.66            7.53%   R$ 61,660.13
4             1949         225     11.54%  R$ 273.64   R$ 51,790.49            8.27%   R$ 53,967.05
5             1947         183      9.40%  R$ 271.05   R$ 38,436.18            6.14%   R$ 45,808.65
6             1947         183      9.40%  R$ 307.66   R$ 50,566.00            8.08%   R$ 44,246.24
7             1947         167      8.58%  R$ 295.95   R$ 43,284.50            6.92%   R$ 35,714.05
8             1947         147      7.55%  R$ 331.04   R$ 45,666.19            7.30%   R$ 32,187.76
9             1947         132      6.78%  R$ 404.99   R$ 59,424.12            9.49%   R$ 27,112.33
10            1948         100      5.13%  R$ 600.92   R$ 77,731.05           12.42%   R$ 15,932.75